@model ASPFinalProject.DTOs.User.ChangePasswordDTO

@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_LayoutNull.cshtml";
}

<div class="container-fluid p-h-0 p-v-20 bg full-height d-flex"
	style="background-image: url('@Url.Content("~/assets/images/others/login-3.png")')">
	<div class="d-flex flex-column justify-content-between w-100">
		<div class="container d-flex h-100">
			<div class="row align-items-center w-100">
				<div class="col-md-7 col-lg-5 m-h-auto">
					<div class="card shadow-lg">
						<div class="card-body">
							<div class="d-flex align-items-center justify-content-between m-b-30">
								<img class="img-fluid" alt="" src="~/assets/images/logo/logo.png">
								<h2 class="m-b-0">Change Pass</h2>
							</div>
							<form asp-action="ChangePassword" asp-route-returnurl="@ViewBag.ReturnUrl">
								<div class="form-group">
									<label asp-for="@Model.OldPassword" class="form-label my-3"></label><sup>*</sup>
									<div class="input-affix">
										<i class="prefix-icon anticon anticon-lock"></i>
										<input asp-for="@Model.OldPassword" class="form-control" placeholder="OldPassword">
									</div>
									<span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="@Model.NewPassword" class="form-label my-3"></label><sup>*</sup>
									<div class="input-affix m-b-10">
										<i class="prefix-icon anticon anticon-lock"></i>
										<input type="Password" asp-for="@Model.NewPassword" class="form-control"
											placeholder="Password">
									</div>
									<span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
								</div>
                                <div class="form-group">
									<label asp-for="@Model.ConfirmPassword" class="form-label my-3"></label><sup>*</sup>
									<div class="input-affix m-b-10">
										<i class="prefix-icon anticon anticon-lock"></i>
										<input type="Password" asp-for="@Model.ConfirmPassword" class="form-control"
											placeholder="ConfirmPassword">
									</div>
									<span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
								</div>
								<div class="row g-4 text-center align-items-center justify-content-center">
									<div class="col-md-11 col-lg-5" style="margin-left: 17px;">
										<div
											class="row g-4 text-center align-items-center justify-content-center  w-100">
											<a asp-controller="Home" asp-action="index" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Cancel</a>
										</div>
									</div>

									<div class="col-md-11 col-lg-5">
										<div
											class="row g-4 text-center align-items-center justify-content-center  w-100">
											<button type="submit"
												class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Apply</button>
										</div>
									</div>
									<span class="font-size-13 text-muted mt-3">
										Don't have an account?
										<a class="small" href="Create"> Signup</a>
									</span>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-none d-md-flex p-h-40 justify-content-between">
			<span class="">© 2019 ThemeNate</span>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a class="text-dark text-link" href="">Legal</a>
				</li>
				<li class="list-inline-item">
					<a class="text-dark text-link" href="">Privacy</a>
				</li>
			</ul>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
