@model ASPFinalProject.Models.Test

@{
    ViewData["Title"] = "Details";
}

<!-- Content Wrapper START -->
<div class="page-header ml-5">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Default" asp-controller="Home" asp-action="index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Home
            </a>
            <a asp-area="" asp-controller="Tests" asp-action="index" class="breadcrumb-item active">Your tests</a>
            <span class="breadcrumb-item active">Details</span>
        </nav>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-header d-flex align-items-center ">
            <h2 class="card-title col-lg-10">Details</h2>    
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="product-info-table m-t-20">
                    <tbody>
                        <tr>
                            <td>Title: </td>
                            <td class="text-dark font-weight-semibold">@Model!.TestTitle</td>
                        </tr>
                        <tr>
                            <td>Author:</td>
                            <td>@Model.Author.Fullname</td>
                        </tr>
                        <tr>
                            <td>Time:</td>
                            <td>@Model.Time</td>
                        </tr>
                        <tr>
                            <td>Number of questions: </td>
                            <td>@Model.NumberOfQuestion</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>
                                @if (Model!.IsOpen)
                                {
                                    <span class="badge badge-pill badge-cyan">Open</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-red">Close</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Score: </td>
                            @if(ViewBag.Result.Score >= 0)
                            {
                                <td>@ViewBag.Result.Score</td>
                            } else
                            {
                                <td>No result</td>
                            }
                        </tr>
                        <tr>
                            <td>
                                <a asp-action="Index" class="btn btn-success btn-tone mx-3 float-right">Back to List</a>
                            </td>
                            @if (ViewBag.Result.Score >= 0)
                            {
                                <td> <a asp-action="GetDetailsResult" class="btn btn-primary btn-tone mx-3" asp-route-id="@Model.TestId">Result details</a></td>
                            } else
                            {
                                <td>
                                    <a href="@Url.Action("UnEnroll", "Tests", new { testId = Model.TestId, userId = ViewBag.Result.UserId })" class="btn btn-danger btn-tone m-r-5">Un Enroll</a>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Test description</h2>
        </div>
        <div class="card-body">
            @Model.Description
        </div>
    </div>
</div>
<!-- Content Wrapper END -->
