@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ASPFinalProject.Models.Test>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Default" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i
                    class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách Bài Test : page </span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-action="Enroll">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Enroll</span>
                </a>
            </div>
            <div class="col-lg-4 text-left">
                <h3>Test</h3>
            </div>
        </div>
        <table class="table table-hover e-commerce-table">
            <thead>
                <tr>
                    <th>
                        TestTitle
                    </th>
                    <th>
                        Fullname Author
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                       NumberOfQuestion
                    </th>
                    <th>
                        Description
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.TestTitle
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    @item.Author.Fullname
                                </div>
                            </td>

                            <td>@item.Time</td>
                            <td style="margin-left: 100px;">@item.NumberOfQuestion</td>
                            <td>@item.Description</td>

                            <td class="text-right">
                                @* <form asp-action="UnEnroll" method="post" class="mr-3">
                                    <div class="form-group" style="display: none;">
				                        <input id="TestId" name="testId" value="@item.TestId" class="form-control" />
			                        </div>
                                    <div class="form-group" style="display: none">
				                        <input id="UserId" name="userId" value="@ViewBag.UserId" class="form-control" />
			                        </div>
                                    <button type="submit" class="btn btn-danger btn-tone m-r-5">Un Enroll</button>
                                </form> *@

                                <a href="@Url.Action("UnEnroll", "Tests", new { testId = item.TestId, userId = ViewBag.UserId })" class="btn btn-danger btn-tone m-r-5">Un Enroll</a>

                                <a class="btn btn-success btn-tone m-r-5" asp-action="StartTest"
                                    asp-route-id="@item.TestId">Start Test</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <pager class="pager-container" list="@Model" asp-area="Teacher" asp-controller="TeacherTests"
                    asp-action="Index" />
            </ul>
        </div>
    </div>
</div>

