@model ASPFinalProject.Models.Test

@{
    ViewData["Title"] = "Details";
}

<!-- Content Wrapper START -->
<div class="page-header ml-5">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Default" asp-controller="Home" asp-action="index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Home
            </a>
            <a asp-area="Teacher" asp-controller="TeacherTests" asp-action="index" class="breadcrumb-item active">Your tests</a>
            <span class="breadcrumb-item active">Details</span>
        </nav>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h2 class="card-title col-lg-10">Details</h2>
            <div class="col-lg-2">
                <a asp-action="Edit" class="btn btn-primary btn-tone m-r-4 " asp-route-id="@Model?.TestId">
                    <i class="anticon anticon-edit"></i>
                    <span>Edit</span>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="product-info-table m-t-20">
                    <tbody>
                        <tr>
                            <td>Title: </td>
                            <td class="text-dark font-weight-semibold">@Model!.TestTitle</td>
                        </tr>
                        <tr>
                            <td>Author:</td>
                            <td>@Model.Author.Fullname</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>
                                <span id="password-field">@Model.Password</span>
                                <button type="button" id="toggle-password" class="btn btn-light ml-3 btn-sm">
                                    <i class="anticon anticon-eye" id="toggle-icon"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Time:</td>
                            <td>@Model.Time</td>
                        </tr>
                        <tr>
                            <td>Number of questions: </td>
                            <td>@Model.NumberOfQuestion</td>
                        </tr>
                        <tr>
                            <td>Current questions:</td>
                            <td>@Model.CurrentQuestions</td>
                            <td>
                                <a asp-action="getQuestions" asp-controller="TeacherQuestions" asp-route-id="@Model?.TestId" class="btn btn-info btn-tone">Show questions</a>
                                <a asp-action="Create" asp-controller="TeacherQuestions" asp-route-id="@Model?.TestId" class="btn btn-success btn-tone mx-3">Add questions</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>
                                @if (Model!.IsOpen)
                                {
                                    <span class="badge badge-pill badge-cyan">Open</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-red">Close</span>
                                }
                            </td>
                            <td>
                                <a asp-action="SetStatus" class="btn btn-info btn-tone m-r-5" asp-route-id="@Model?.TestId">Change status</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Created at: </td>
                            <td>@Model!.CreatedAt</td>
                        </tr>
                        <tr>
                            <td>Update at:</td>
                            <td>@Model.UpdatedAt</td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-action="Index" class="btn btn-success btn-tone mx-3 float-right">Back to List</a>
                            </td>
                            <td> <a asp-action="GetResult" class="btn btn-primary btn-tone mx-3" asp-route-id="@Model.TestId">Results</a></td>
                            <td>
                                <button type="button" class="btn btn-danger btn-tone m-r-5" data-toggle="modal" data-target="#exampleModal">
                                    Delete
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <i class="anticon anticon-close"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body text-left">
                                                Do you confirm to delete this test?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <a asp-action="Delete" class="btn btn-danger btn-tone m-r-5" asp-route-id="@Model.TestId">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Test description</h2>
        </div>
        <div class="card-body">
            @Model.Description
        </div>
    </div>
</div>
<!-- Content Wrapper END -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const passwordField = document.getElementById('password-field');
        const toggleButton = document.getElementById('toggle-password');
        const toggleIcon = document.getElementById('toggle-icon');

        toggleButton.addEventListener('click', function () {
            const isPasswordVisible = passwordField.getAttribute('data-visible') === 'true';
            if (isPasswordVisible) {
                passwordField.textContent = '@Model.Password';
                toggleIcon.classList.remove('anticon-eye-invisible');
                toggleIcon.classList.add('anticon-eye');
                passwordField.setAttribute('data-visible', 'false');
            } else {
                passwordField.textContent = '********';
                toggleIcon.classList.remove('anticon-eye');
                toggleIcon.classList.add('anticon-eye-invisible');
                passwordField.setAttribute('data-visible', 'true');
            }
        });
    });
</script>