@model ASPFinalProject.Models.Question

@{
    ViewData["Title"] = "Create";
}


@* <div class="row">
    <div class="col-md-4" style="margin: auto;">
        <h1 style="text-align: center;">Create Question</h1>
        <hr>
        <hr>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TestId" class="control-label"></label>
                <select asp-for="TestId" class="form-control" asp-items="ViewBag.TestId"></select>
            </div> 
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionA" class="control-label"></label>
                <input asp-for="OptionA" class="form-control" />
                <span asp-validation-for="OptionA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionB" class="control-label"></label>
                <input asp-for="OptionB" class="form-control" />
                <span asp-validation-for="OptionB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionC" class="control-label"></label>
                <input asp-for="OptionC" class="form-control" />
                <span asp-validation-for="OptionC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionD" class="control-label"></label>
                <input asp-for="OptionD" class="form-control" />
                <span asp-validation-for="OptionD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div> *@

<div class="row">
    <div class="col-md-4" style="margin: auto;">
        <h1 style="text-align: center;">Create Test</h1>
        <hr>
        <hr>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Description" class="control-label"></label>
                <input asp-for="@Model.Description" class="form-control" />
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OptionA" class="control-label"></label>
                <textarea asp-for="@Model.OptionA" class="form-control"></textarea>
                <span asp-validation-for="@Model.OptionA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OptionB" class="control-label"></label>
                <input asp-for="@Model.OptionB" class="form-control" />
                <span asp-validation-for="@Model.OptionB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OptionC" class="control-label"></label>
                <input asp-for="@Model.OptionC" class="form-control"></input>
                <span asp-validation-for="@Model.OptionC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OptionD" class="control-label"></label>
                <input asp-for="@Model.OptionD" class="form-control" />
                <span asp-validation-for="@Model.OptionD" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
