@model ASPFinalProject.Models.Question

@{
    ViewData["Title"] = "Details";
}
<div class="page-header ml-5">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Default" asp-controller="Home" asp-action="index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Home
            </a>
            <a asp-area="Teacher" asp-controller="TeacherQuestions" asp-action="index" class="breadcrumb-item active">All questions</a>
            <span class="breadcrumb-item active">Details</span>
        </nav>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h2 class="card-title col-lg-10">Question details</h2>
            <div class="col-lg-2">
                <a asp-action="Edit" class="btn btn-primary btn-tone m-r-4 " asp-route-id="@Model?.QuestionsId">
                    <i class="anticon anticon-edit"></i>
                    <span>Edit</span>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="product-info-table m-t-20">
                    <tbody>
                        <tr>
                            <td>Test title: </td>
                            <td class="text-dark font-weight-semibold">@Model!.Test.TestTitle</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>@Model.Description</td>
                        </tr>
                        <tr>
                            <td>Option A:</td>
                            <td>@Model.OptionA</td>
                        </tr>
                        <tr>
                            <td>Option B:</td>
                            <td>@Model.OptionB</td>
                        </tr>
                        <tr>
                            <td>Option C:</td>
                            <td>@Model.OptionC</td>
                        </tr>
                        <tr>
                            <td>Option D:</td>
                            <td>@Model.OptionD</td>
                        </tr>
                        <tr>
                            <td>Answer:</td>
                            <td>@Model.Answer</td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-action="Index" class="btn btn-success btn-tone mx-3 float-right">Back to List</a>
                            </td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-danger btn-tone m-r-5" data-toggle="modal" data-target="#exampleModal">
                                    Delete
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <i class="anticon anticon-close"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body text-left">
                                                Do you confirm to delete this question?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <a asp-action="Delete" class="btn btn-danger btn-tone m-r-5" asp-route-id="@Model.QuestionsId">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
