@model ASPFinalProject.Models.User

@{
    ViewData["Title"] = "Create";
}

@* <h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fullname" class="control-label"></label>
                <input asp-for="Fullname" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NormalizedUserName" class="control-label"></label>
                <input asp-for="NormalizedUserName" class="form-control" />
                <span asp-validation-for="NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NormalizedEmail" class="control-label"></label>
                <input asp-for="NormalizedEmail" class="form-control" />
                <span asp-validation-for="NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailConfirmed" /> @Html.DisplayNameFor(model => model.EmailConfirmed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label"></label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityStamp" class="control-label"></label>
                <input asp-for="SecurityStamp" class="form-control" />
                <span asp-validation-for="SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcurrencyStamp" class="control-label"></label>
                <input asp-for="ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LockoutEnd" class="control-label"></label>
                <input asp-for="LockoutEnd" class="form-control" />
                <span asp-validation-for="LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LockoutEnabled" /> @Html.DisplayNameFor(model => model.LockoutEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AccessFailedCount" class="control-label"></label>
                <input asp-for="AccessFailedCount" class="form-control" />
                <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

<div class="page-header ml-5">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Default" asp-controller="Home" asp-action="index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Home
            </a>
            <a asp-area="Teacher" asp-controller="TeacherTests" asp-action="index" class="breadcrumb-item active">Your tests</a>
            <span class="breadcrumb-item active">Create test</span>
        </nav>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Create Information</h2>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label asp-for="@Model.Fullname" class="control-label">Test title</label>
                        <input asp-for="@Model.Fullname" class="form-control" />
                        <span asp-validation-for="@Model.Fullname" class="text-danger"></span>
                    </div>

                    @* <div class="form-group col-md-4 d-flex align-items-end justify-content-center">
                        <div class="switch m-r-10">
                            <input type="checkbox" id="switch-1" asp-for="@Model.IsOpen" checked="">
                            <label for="switch-1"></label>
                        </div>
                        <label asp-for="@Model.IsOpen">Open</label>
                    </div> *@

                </div>

                <div class="form-group">
                    <label asp-for="@Model.UserName" class="control-label"></label>
                    <textarea asp-for="@Model.UserName" class="form-control"></textarea>
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.NormalizedUserName" class="control-label">Time (Min)</label>
                        <input asp-for="@Model.NormalizedUserName" class="form-control" />
                        <span asp-validation-for="@Model.NormalizedUserName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.Email" class="control-label">Number of questions</label>
                        <input asp-for="@Model.Email" class="form-control" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.NormalizedEmail" class="control-label"></label>
                        <input asp-for="@Model.NormalizedEmail" class="form-control" />
                        <span asp-validation-for="@Model.NormalizedEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.PasswordHash" class="control-label"></label>
                        <input asp-for="@Model.PasswordHash" class="form-control" />
                        <span asp-validation-for="@Model.PasswordHash" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.SecurityStamp" class="control-label"></label>
                        <input asp-for="@Model.SecurityStamp" class="form-control" />
                        <span asp-validation-for="@Model.SecurityStamp" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.PhoneNumber" class="control-label"></label>
                        <input asp-for="@Model.PhoneNumber" class="form-control" />
                        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.LockoutEnd" class="control-label"></label>
                        <input asp-for="@Model.LockoutEnd" class="form-control" />
                        <span asp-validation-for="@Model.LockoutEnd" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.AccessFailedCount" class="control-label"></label>
                        <input asp-for="@Model.AccessFailedCount" class="form-control" />
                        <span asp-validation-for="@Model.AccessFailedCount" class="text-danger"></span>
                    </div>

                </div>

                <div class="d-flex justify-content-between">
                    <div class="form-group col-md-10">
                        <a asp-action="Index" class="btn btn-success btn-tone">Back to List</a>
                    </div>
                    <div class="form-group col-md-2 d-flex align-items-center justify-content-between">
                        <button type="submit" class="btn btn-info btn-tone">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
